<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenTok Sample App</title>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div>
		<h1> Study Group </h1>
		<form id="studygroup">
			<h4> Create/Join a Study Group </h4>
			<input type="text" id="groupname" placeholder="group name"></input>
			<input type="text" id="name" placeholder="your name"></input>
			<input type="submit" class="btn btn-primary"></input>
		</form>
	</div>
	<div>
		<h1> Lecture </h1>
		
		<form id="lecture-create">
			<h4> Create a lecture </h4>
			<input type="text" id="lecturename-teacher" placeholder="lecture name"></input>
			<input type="text" id="name-teacher" placeholder="teacher name"></input>
			<input type="submit" class="btn btn-primary"></input>
		</form>
		
		<form id="lecture-join">
			<h4> Join a lecture </h4>
			<input type="text" id="lecturename-student" placeholder="lecture name"></input>
			<input type="text" id="name-student" placeholder="student name"></input>
			<input type="submit" class="btn btn-primary"></input>
		</form>
		
		<form id="lecture-observe">
			<h4> Observe a lecture </h4>
			<input type="text" id="lecturename-lurker" placeholder="lecture name"></input>
			<input type="submit" class="btn btn-primary"> </input>
		</form>
		
	</div>
	<script src="/js/frontpage.js"></script>
</body>