<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenTok Sample App</title>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/lecture-student.css" rel="stylesheet" type="text/css">
</head>
<body>

    <h1> Student </h1>
    <div id="publisher"></div>
    <div id="teacher"></div>
    <div id="subscribers"></div>
    <script src="/js/lecture-student.js"></script>

</body>
</html>
