body, html {
    background-color: gray;
    height: 100%;
}

#subscribers {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#videos {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#publisher {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 264px !important;
    height: 198px !important;
}

input#msgTxt {
            height: 40px;
            position: relative;
            bottom: 20px;
            width: 100%;
}
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}

#menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#page {
    text-align: center;
    height: 100%;
}

.main {
    padding: 0;
    height: 100%;
}

.hand-raised {
    border-style: solid;
    border-width: 10px;
    border-color: green;
}

.studentBtn {
    position: absolute;
    bottom: 0px;
}

.wrapper {
    width: 100%;
    text-align: center;
}