body, html {
    background-color: gray;
    height: 100%;
}

#publisher {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 264px !important;
    height: 198px !important;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.students {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#teacher {
    flex: 5;
}

.subscriber {
    width: 100%;
    height: 20% !important;
}

#menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.hand-raised {
    border-style: solid;
    border-width: 10px;
    border-color: green;
}

#speaker {
    position: fixed;
    top: 0;
    right: 0;
}